<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_wash"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_wash_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wash"
        tools:targetApi="31">

        <!-- 카카오 SDK 초기화 위한 메타 데이터 -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <!-- MainActivity 설정 -->
        <activity
            android:name=".presentation.base.MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- 카카오 로그인 리디렉션 설정 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="kakao848d8e24a85be1f0df0716a1f3eea7e3" android:host="oauth"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
